.d-flex button{
    margin: 1.5em 0.6em;
    padding: 0.5em 2.4em;
}

table .btnedit{
    color:lightsalmon;
    cursor:pointer;
}
.success{
    background-color: lightgreen;
    padding:1em;
}
.error{
    background-color:tomato;
    padding:1em;
}